<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MultyParserConfigSection" type="MultyParser.Configuration.MultyParserConfigSection, MultyParser.Configuration" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<MultyParserConfigSection>
		<TovarGroups>
			<TovarGroup code="COMPRESS" displayName="Компрессоры">
				<attributeList>
					<attribute id="10" name="Производительность, л/мин" />
					<attribute id="20" name="Давление, бар" />
					<attribute id="30" name="Мощность, кВт" />
					<attribute id="40" name="Питание" />
					<attribute id="50" name="Тип привода" />
					<attribute id="60" name="Уровень шума, дБ" />
					<attribute id="70" name="Вид компрессора" />
				</attributeList>
			</TovarGroup>
			<TovarGroup code="GENER" displayName="Генераторы">
				<attributeList>
					<attribute id="10" name="Свойство 1" />
					<attribute id="20" name="Свойство 2" />
				</attributeList>
			</TovarGroup>
			<TovarGroup code="WELDING" displayName="Сварочное оборудование">
				<attributeList>
					<attribute id="10" name="Свойство 1" />
					<attribute id="20" name="Свойство 2" />
				</attributeList>
			</TovarGroup>
		</TovarGroups>
	</MultyParserConfigSection>
	<appSettings>
		<add key="identValue" value="1000"/>
	</appSettings>
</configuration>