<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MultyParserConfigSection" type="MultyParser.Configuration.MultyParserConfigSection, MultyParser.Configuration" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<MultyParserConfigSection titlePattern="Купить {0} цвета {1} недорого в Москве">
		<TovarGroups>
			<TovarGroup code="COMPRESS" displayName="Компрессоры">
				<attributeList>
					<attribute id="10" name="Производительность, л/мин" />
					<attribute id="20" name="Давление, бар" />
					<attribute id="30" name="Мощность, кВт" />
					<attribute id="40" name="Питание" />
					<attribute id="50" name="Тип привода" />
					<attribute id="60" name="Уровень шума, дБ" />
					<attribute id="70" name="Вид компрессора" />
				</attributeList>
			</TovarGroup>
			<TovarGroup code="GENER" displayName="Генераторы">
				<attributeList>
					<attribute id="10" name="Свойство 1" />
					<attribute id="20" name="Свойство 2" />
				</attributeList>
			</TovarGroup>
			<TovarGroup code="WELDING" displayName="Сварочное оборудование">
				<attributeList>
					<attribute id="10" name="Свойство 1" />
					<attribute id="20" name="Свойство 2" />
				</attributeList>
			</TovarGroup>
			<TovarGroup code="FEMALE" displayName="Женское">
				<attributeList>
					<attribute id="10" name="Плотность" filter="true" />
					<attribute id="20" name="Состав" />
				</attributeList>
			</TovarGroup>
		</TovarGroups>
		<TemplateSets>
			<TemplateSet system="OPENCART" dir="Templates\Opencart">
				<templateList>
					<template code="ATTR" file="Attributes.xlsx" />
					<template code="FILT" file="Filters.xlsx" />
					<template code="OPTI" file="Options.xlsx" />
					<template code="PROD" file="Products.xlsx" />
				</templateList>
			</TemplateSet>
		</TemplateSets>
		<KeywordPatternList>
			<keywordPattern value="Цена {0}" />
			<keywordPattern value="Купить {0}" />
			<keywordPattern value="Скидка на {0}" />
			<keywordPattern value="Акция {0}" />
			<keywordPattern value="Распродажа - {0}" />
			<keywordPattern value="Горячее предложение - {0}" />
			<keywordPattern value="{0}, доставка по РФ" />
			<keywordPattern value="Эксклюзив {0} по акции" />
		</KeywordPatternList>
	</MultyParserConfigSection>
	<appSettings>
		<add key="identValue" value="0"/>
	</appSettings>
</configuration>